.mobileMenu {

    height: 60px;
    background: green;
    width: 100%;
    // padding: 0 80px;
    margin: auto;
    position: fixed;
    top: 0;

    &__items {

        height: 60px;
        line-height: 60px;

        &__item:hover * {
            background: red;
        }
    }


    &__menuContents {

        &__content {

            display: none;
            width: 100%;
            position: absolute;
            top: 0;
            height: 60px;
            line-height: 60px;
            background: blue;
        }
    }
}

.footer {
	position: absolute;
	width: 100%;
	bottom: 0;
	background-color: red;
	height: 60px;
	line-height: 60px;
}

.main {
	background: blue;
}