$columns: 12;
$gapX: 20px;
$gapY: 10px;

$mediaQueries: $mediaQueryList;

.grid {

    min-width: 100%;
    position: relative;
    margin-right: -$gapX;
    overflow: hidden;
    
    
    & > * {

        float: left;
        width: 100%;
        padding-right: $gapX;
        padding-bottom: $gapY;
        margin-left: 0;
    }


    & *[class^="col-"].softGrow {

        transition: .4s;
    }
    

    &--noGap {
        
        margin-right: 0;
        
        & > * {

            padding-right: 0;
            padding-bottom: 0;
        }
    }


    &:after {

        content: '';
        display: table;
        clear: both;
    }


    @each $queryName, $mediaQuery in $mediaQueries {

        @media (min-width: $mediaQuery) {

            @for $i from 1 through $columns {

                .col-#{$queryName}-#{$i} {

                    width: 100% / $columns * $i;
                }
            }
        }
        
        @media (min-width: $mediaQuery) {

            @for $i from 0 through $columns {

                .col-offset-#{$queryName}-#{$i} {
                    
                    margin-left: 100% / $columns * $i;
                }
            }
        }
    }
}
