/* mediaqueries */
$mediaQueryList: (
    XS: 0px, 
    SM: 482px,
    MD: 760px,
    LG: 1280px,
    XL: 1920px
);
/* helper to grab width from map - example: width: mqWidth(MD) */
@import './functions/mqWidth.scss';